<h1>支出入力一覧</h1>


<div>
    <%= link_to '銀行名を登録', new_bank_path, class: "btn btn-primary" %>
</div>

<div class="btn-group">
  <button class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown">登録済の銀行<span class="badge bg-light text-dark ms-2"><%= @bank_count %></span></button>
  <ul class="dropdown-menu">
    <% @banks.each do |bank| %>
        <li><%= link_to bank.name, bank_path(bank.id), class: "dropdown-item list-group-item-light text-decoration-none" %></li>
    <% end %>
  </ul>  
</div>

<div id="footer" class="fixed-bottom">
    <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-primary" %>
</div>