@import "bootstrap";
@import "simple_calendar";
.simple-calendar {
  .day {
    border: solid #888888;
  }

  .wday-0 {
    background: #ffeaea;
    color: #ff505c;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    background: #d4ebff;
    color: #5984dc;
  }

  .today {
    background: #FFFF8c;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background-color: #d3d3d3;
  }
  .next-month {
    background-color: #d3d3d3;
  }
  .current-month {
    border: solid #888888;
  }

  .has-events {}
}
/* ホバーした際の背景色 tableタグにcalender_tableクラスを追記しています*/
.calender-table tr td:hover {
  background-color: #FFFF8c;    
}