@import "bootstrap";
@import "simple_calendar";
.simple-calendar {
  .day {
    border: solid #888888;
  }

  .wday-0 {
    background: #ffeaea;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    background: #d4ebff;
  }

  .today {
    background: #FFFF8c;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background-color: #d3d3d3;
  }
  .next-month {
    background-color: #d3d3d3;
  }
  .current-month {
    border: solid #888888;
  }

  .has-events {}
}
/* ホバーした際の背景色 tableタグにcalender_tableクラスを追記しています*/
.calender-table tr td:hover {
  background-color: #FFFF8c;    
}

/*カルーセルの矢印の色を変更*/
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}